/**
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR(S) DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR(S) BE LIABLE FOR ANY
 * SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER
 * RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE
 * USE OR PERFORMANCE OF THIS SOFTWARE.
 */
body {
    background-color: white;
    font-size: 14px;
    font-family: Univers, "Univers 55", "Lucida Grande CE", lucida, san-serif;
    color: black;
    margin: 10px;
}

h1, h2, h3, h4 {
    font-family: Univers, "Univers 55", "Lucida Grande CE", lucida, sans-serif;
    border-bottom: 1px solid #6f6f6f;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h1 {
    font-size:  16px;
}

h2 {
    font-size:  14px;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 10px;
}

a:link, a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #D20005;
  font-weight : bold;
  text-decoration : underline;
}

.table-row-odd {
    background-color: #e5e5e5;
}

.table-row-even {
    background-color: silver;
}
